body {
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  border: 2px solid black;
  margin: 20px;
}

.one {
  background-color: #d95980;
}
.three {
  background-color: #819ff9;
}
.two {
  background-color: #63aac0;
}
.four {
  background-color: #f99b45;
}
.gameflash {
  background-color: white;
}
.userflash {
  background-color: green;
}
